.privacy-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #222;
  background: #ffffff;
  padding: 0px;
  margin: auto;
}

.privacy-title {
  color: #2b1055;
  text-align: center;
}

.muted {
  color: #666;
  font-size: 0.95em;
  text-align: center;
}
