.terms-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #222;
  background: #ffffff;
  padding: 0px;
  margin: auto;
}

.terms-title {
  color: #2b1055;
  padding-left: 60px;
}
